.event-bar-title {
  font-size: 2.5em;
  padding: 25px 0;
  font-weight: 400;
  font-style: italic;
}

.event-container {
  height: 700px;
  padding: 0 30px;
  overflow: auto;
}

.event {
  font-size: 1.5em;
  line-height: 1.5em;
  max-width: 230px;
  font-weight: 400;
  border-radius: 10px;
  padding: 5px 10px;
  margin-bottom: 10px;
  transition: 0.5s;
  cursor: pointer;
}

.event:hover {
  color: #fff;
  background-color: #e86b3dc4;
  transition: 0.5s;
}

.selected-event {
  color: #fff;
  background-color: #e86a3d;
}

.over-hide {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
